# Arquivos de ambiente virtual
venv/
/venv/
*.venv
.venv

# Arquivos de configuração do PyCharm
.idea/

# Arquivos de cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Arquivos de dependências
*.egg-info/
/dist/
/build/

.env

# Arquivos de sistema operacional
.DS_Store
Thumbs.db